@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Montserrat";
}

#randomUserDisplaySection {
    margin-top: -12rem;
}

.user-rounded-image {
    border-radius: 100%;
    margin-bottom: -4rem;
    border: 4px solid gainsboro;
}


#displayUserInfo {
    vertical-align: middle;

}

.temp-emailbox {
    border-radius: 10px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    border: 2px dashed #383b44;
    border-image-source: url(../images/border-box.png);
    border-image-slice: 2;
    border-image-repeat: round;
}

.input-box-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 5px;
}

.input-warp {
    padding: 4px;
    background-color: hsla(0, 0%, 100%, .04);
    border-radius: 30px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10000;
}

.emailbox-input {
    border: 0;
    font-family: Roboto, sans-serif !important;
    background: transparent;
    margin: 0;
    padding: 10px 15px;
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #fff;
    height: 52px;
    min-width: 340px;
}

@media (max-width: 1199px) {
    /* Your CSS code for this media query */
    .temp-emailbox {
        max-width: 556px;
        margin: 0 auto;
    }
}

*:focus {
    outline: none;
}

.tm-content {
    box-sizing: border-box;
}

.inboxWarpMain {
    border: 1px solid #e5e5f0;
    background-color: #fff;
    border-radius: 12px;
}

.inbox-header {
    background-color: #22242b;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.bg-header {
    background-color: #22242b;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 65px;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.inbox-empty {
    height: 335px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.inbox-empty-msg {
    text-align: center;
}

.inboxWarpMain .inbox-header .col-h {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 25px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Roboto Mono, monospace !important;
    text-transform: uppercase;
}
.inboxWarpMain .inbox-empty .inbox-empty-msg p.emptyInboxTitle {
    color: #585d6a;
    font-size: 20px;
    font-family: Roboto Mono, monospace !important;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px;
}

main {
    padding: 20px 0 40px;
    background-color: #f6f7f9;
    position: relative;
}

.main-container {
    width: 80% !important;
    padding: 0 15px !important;
    margin-left: auto;
    margin-right: -50px;
}

.inbox-dataList {
    border-radius: 0 0 10px 10px;
    min-height: 333px;
    padding-bottom: 3px;
}

.inbox-dataList ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inbox-dataList ul li {
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 15px;
}

.col-box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    position: relative;
    max-width: 40%;
}
.inbox-dataList .bullets-ico.is-active {
    background-color: #00c099;
}

.inbox-dataList .bullets-ico {
    width: 6px;
    height: 6px;
    position: absolute;
    left: -16px;
    top: 3px;
    background-color: #e5e5f0;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
}

.inboxSenderName, .inboxSubject {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif !important;
    position: relative;
    width: 100%;
}

.inboxSenderEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 92%;
}

.inbox-dataList .col-box span.inboxSenderEmail {
    font-size: 14px;
    color: #8c92a5;
    margin: 0;
    width: 100%;
}

.inbox-dataList .col-box .inboxSubject {
    color: #585d6a;
    word-wrap: break-word;
}

.inbox-dataList .col-box .inboxSenderName, .inbox-dataList .col-box .inboxSubject {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif !important;
    position: relative;
    width: 100%;
}

.inbox-dataList .col-box .attachment, .inbox-dataList .col-box .m-link-view {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    position: relative;
    max-width: 50%;
}

.mess-content {
    margin-top: 10px;
    margin-left:30px;
    margin-right:30px;
}

.temp-emailbox-text {
    text-align: center;
    padding-top: 30px;
    color: #7a7c80;
    font-size: 14px;
    font-family: Roboto Mono, monospace !important;
    font-weight: 500;
}
.mid-intro-text {
    text-align: center;
    padding-top: 15px;
    width: 60%;
    margin: auto;
}
.mid-intro-text h1 {
    font-size: 28px !important;
    color: #22242b;
    line-height: 1.2 !important;
    margin-top: 20px !important;
    margin-bottom: 8px !important;
    padding-bottom: 20px;
}

.bottom-seo-text {
    padding-top: 15px;
    width: 75%;
    margin: auto;
}

.temp-emailbox-text1{
    font-size: 20px !important;
    color: #fff !important;
    line-height: 100% !important;
    margin-top: 0 !important;
    padding-top: 0;
    margin-bottom: 25px !important;
}

.section-populer-article {
    border-top: 1px solid #e5e5f0;
    padding-top: 30px;
}
.p-header {
    text-align: center;
    padding: 20px 0;
}
ul.populer-article-list {
    list-style-type: none;
    padding: 0;
}
@media (max-width: 1199px) {
    ul.populer-article-list li .inner-text-box {
        padding-right: 190px;
    }
}


ul.populer-article-list li .inner-text-box {
    border-radius: 15px;
    border-bottom: 24px solid #fff;
    background-color: #fff;
    position: relative;
    padding: 24px 170px 0 24px;
    height: 172px;
    overflow-y: hidden;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

ul.populer-article-list li .inner-text-box figure {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 124px;
    height: 124px;
    overflow: hidden;
    border-radius: 10px;
}

ul.populer-article-list li .inner-text-box a {
    font-weight: 500;
    font-size: 16px !important;
    color: #22242b !important;
    font-family: Roboto, sans-serif !important;
    margin: 0;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
}

ul.populer-article-list li .inner-text-box p {
    font-size: 14px;
    color: #8c92a5;
    font-weight: 400;
    margin: 0;
}

ul.populer-article-list li {
    margin-left: 0 !important;
    padding-top: 18px;
    padding-bottom: 18px;
}

.page-footer, footer {
    background-color: #22242b;
    padding-top: 10px;
    padding-bottom: 120px;
    position: relative;
  }
.container {
    width: 100% !important;
    padding: 0 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.footer-nav ul li a {
    color: #a7a7aa !important;
    text-transform: uppercase;
    font-family: Roboto Mono, monospace !important;
    font-weight: 400;
    font-size: 16px !important;
    text-decoration: none !important;
    padding: 5px 0 !important;
}

.footer-nav ul li a:hover {
   color: #00c497 !important;
}

.btn-appstore .tm-btn, .btn-appstore a {
    font-family: Roboto, sans-serif !important;
    border-radius: 12px !important;
    line-height: 20px !important;
    text-decoration: none !important;
    padding: .45rem 14px .45rem 10px !important;
}

.footer-nav ul li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0;
    padding: 0 10px;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.footer-box {
    padding-top: 10px;
    padding-bottom: 15px;
}

.copyright-box {
    padding-top: 30px;
    border-top: 1px solid #393a41;
    position: relative;
}

.footer-btn-warp .btn-set-group {
    display: inline-block;
    vertical-align: top;
}

.footer-btn-warp .btn-appstore .bt-group-2 a.tm-btn {
    padding-right: 10px !important;
}

.footer-btn-warp .btn-appstore a.tm-btn {
    font-size: 14px !important;
    color: #fff !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
    font-weight: 400 !important;
}

.align-content-center {
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
  }
  
  .footer-btn-warp .btn-set-group {
    display: inline-block;
    vertical-align: top;
  }
  
  .footer-btn-warp .btn-appstore a.tm-btn {
    font-size: 14px !important;
    color: #fff !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
    font-weight: 400 !important;
    padding-right: 14px !important;
    display: inline-block;
  }
  .btn-appstore .tm-btn, .btn-appstore a {
    font-family: Roboto, sans-serif !important;
    border-radius: 12px !important;
    line-height: 20px !important;
    text-decoration: none !important;
    padding: .45rem 14px .45rem 10px !important;
  }
  
  .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .copyright-box .tm-btn.btn-dark>img {
    display: inline-block;
    overflow: hidden;
  }
  
  .btn-appstore .tm-btn img, .btn-appstore a img {
    margin-right: 8px !important;
  }
  
  .language-dropdown {
    position: absolute;
    top: 35px;
    right: 0;
  }
  
  .dropdown, .dropleft, .dropright, .dropup {
    position: relative;
  }
  
  .langbox .lang-select {
    position: relative;
    height: 38px;
    background-color: hsla(0, 0%, 100%, .2);
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    line-height: 36px;
    vertical-align: top;
    padding-right: 25px;
    width: 92px;
    text-align: left;
  }

  .langbox .lang-select .lang-text {
    color: #fff;
    font-size: 14px !important;
    padding: 0 9px 0 5px;
    text-transform: uppercase;
}
.main-header {
    background: #21232a url(images/header-bg.jpg) repeat 0 0;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 9999;
    padding: 20px 0;
    left: 0;
    top: 0;
}

.justify-content-md-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-v-mid {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.btn-appstore .tm-btn, .btn-appstore a {
    font-family: Roboto, sans-serif !important;
    font-size: 12px !important;
    color: #fff !important;
    font-weight: 500 !important;
    border-radius: 12px !important;
    line-height: 20px !important;
    text-decoration: none !important;
    padding: .45rem 14px .45rem 10px !important;
}

.btn-appstore .tm-btn img, .btn-appstore a img {
    margin-right: 8px !important;
}

.align-content-right {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.headerSeoLink {
    font-size: 14px !important;
    padding: 8px 15px !important;
    background: #2e3038 !important;
    border-radius: 25px !important;
    margin-right: 10px !important;
    color: #fff !important;
    text-decoration: none !important;
}

.btn-outline-dark {
    border: 1px solid #393c45;
}

.btn-appstore a:hover {
    background-color: #57585a !important;
    border-color: #57585a !important;
}
.headerSeoLink:hover {
    background: #57585a !important;
}